@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .gloq-gradient::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: inherit;
    filter: blur(20px);
    opacity: 0.6;
    z-index: -1;
  }
}